<%= javascript_include_tag 'carapace.js' %>
<%= carapace_javascript %>

<script class=javascript>

  function onSubmit()
  {
    carapace_encrypt(document.getElementById("message"));
  }
</script>


<h1>Send a message with Carapace</h1>                                                                                 

<% unless @message.nil? %>

  <p> Received message: <%= @message %> </p>

<% end %>

<%= form_tag do %>
  Your message: <%= text_field_tag :message %>
  <%= submit_tag "Send", :class => "submit", :onclick => "onSubmit()" %>
<% end %>
